.progress-bar {
    width: 200px;
    height: 12px;
    background-color: #514444;
    border-radius: 6px;
    margin: 4px;
}
.progress-bar-value {
    border-radius: 5px;
    height: 10px;
    margin: 1px;
    transition: width 0.05s linear;
}
