.toolbar {
    position: absolute;
    top: 60px;
    left: 20%;
    right: 20%;
    height: 60px;
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.toolbar-button {
    width: 0;
    background-color: #333333ee;
    color: #fff;
    border: none;
    flex-grow: 1;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.toolbar-button:hover {
    background-color: #333333cc;
}
