.toolbar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: calc(50% + 20px);
    height: 60px;
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.toolbar-button {
    width: 0;
    background-color: #333333ee;
    color: #fff;
    border: none;
    flex-grow: 1;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.toolbar-button:disabled {
    background-color: #33333388;
    color: #888;
    cursor: not-allowed;
}

.toolbar-button:hover:not(:disabled) {
    background-color: #333333cc;
}
