:root {
    font-family: 'Quicksand', sans-serif;
    background-color: #242424;
    font-weight: 500;
}

ul {
    list-style: disc;
    list-style-position: outside;
    padding: 0;
    margin: 0 20px;
}
